@import "tailwindcss";
@plugin "daisyui";


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.flash-outline {
  animation: flash-bg 1s ease;
}

@keyframes flash-bg {
  0% {
    background-color: #fef08a;
  }
  60% {
    background-color: #fef08a;
  }
  100% {
    background-color: transparent;
  }
}
